.listSearch {
  height: 70px;
  display: flex;
  align-items: center;
  .searchBox {
    flex: 1;
    .searchInput {
      margin: 24px 0 16px 20px;
    }
  }
  .listOrder {
    margin: 8px 20px 0 16px;
  }
}
